@media (min-width: 420px) {
  .cards__row1,
  .cards__row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}